* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h1{ color: purple; }

img{ width: 400px; }

#thirdDiv{

	height: 600px;
	width: 500px;
	background: salmon;
	padding: 50px;
	border-color: goldenrod;
	border-width: 13px;
	border-style: dashed groove none dotted;
	margin: 0 auto;
}

#spanId{ 

	font-size: 18px;
	margin: 50px;
	background-color: #FDEBD0;
}

body{

	background-image: url("https://media.istockphoto.com/vectors/everyday-food-icons-patchwork-vector-seamless-pattern-vector-id656456026?s=612x612");
}
h1{ background-color: #FDEBD0; }
h3{ background-color: #FDEBD0; }
h4{ background-color: #FDEBD0; }

a{ background-color: #FDEBD0;}

.divClass{ 

	text-align:center; 

	width: 450px;

	margin: 0 auto;

}


				 
